<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>All State Parks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list>
          <ion-item-group>

            <!--Metro Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Metro Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let metroPark of metroParks" [routerLink]="['/', 'parks', 'tabs', 'metro', metroPark.id]"
              detail>
              <ion-label>{{metroPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="metroPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>

            <!--Central Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Central Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let centralPark of centralParks"
              [routerLink]="['/', 'parks', 'tabs', 'central', centralPark.id]" detail>
              <ion-label>{{centralPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="centralPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>


            <!--Northeast Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Northeast Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let northeastPark of northeastParks"
              [routerLink]="['/', 'parks', 'tabs', 'northeast', northeastPark.id]" detail>
              <ion-label>{{northeastPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="northeastPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>

            <!--Northwest Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Northwest Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let northwestPark of northwestParks"
              [routerLink]="['/', 'parks', 'tabs', 'northwest', northwestPark.id]" detail>
              <ion-label>{{northwestPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="northwestPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>


            <!--Southeast Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Southeast Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let southeastPark of southeastParks"
              [routerLink]="['/', 'parks', 'tabs', 'southeast', southeastPark.id]" detail>
              <ion-label>{{southeastPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="southeastPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>

            <!--Southwest Area-->

            <ion-item-divider>
              <ion-label>
                <h2>Southwest Area State Parks</h2>
              </ion-label>
            </ion-item-divider>
            <ion-item *ngFor="let southwestPark of southwestParks"
              [routerLink]="['/', 'parks', 'tabs', 'southwest', southwestPark.id]" detail>
              <ion-label>{{southwestPark.parkName}}</ion-label>
              <ion-thumbnail slot="start">
                <ion-img [src]="southwestPark.imageUrl"></ion-img>
              </ion-thumbnail>
            </ion-item>

          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
  </ion-item>
</ion-content>