<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parks/tabs/central"></ion-back-button>
    </ion-buttons>
    <ion-title>{{centralPark.parkName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card>
          <ion-img [src]="centralPark.imageUrl" class="ion-no-padding"></ion-img>
          <ion-button (click)="onPictureClick()">
            Photo Gallery
          </ion-button>
          <ion-card-content class="ion-no-padding">
            Photo Credit: Minnesota DNR
            https://www.dnr.state.mn.us/
          </ion-card-content>
        </ion-card>
        <ion-item>
          <ion-label color="primary">Hours</ion-label>
          <ion-icon slot="end" name="time-outline"></ion-icon>
          {{centralPark.hours}}
        </ion-item>
        <ion-item>
          <ion-label color="primary">Current Temperature</ion-label>
          <ion-icon slot="end" name="thermometer-outline"></ion-icon>
          {{this.locatedWeather?.main.temp}}
        </ion-item>
        <ion-item>
          <ion-label color="primary">Weather</ion-label>
          <ion-icon slot="end" name="sunny-outline"></ion-icon>
          {{this.locatedWeather?.weather[0].main}}
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary">Directions</ion-label>
          <ion-icon slot="end" name="compass-outline"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding" class="ion-padding-start">
          {{centralPark.address}}
          <ion-img [src]="centralPark.mnMap" slot="end"></ion-img>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary">Points of Interest</ion-label>
          <ion-icon slot="end" name="star-outline"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding" class="ion-padding-start">
          {{centralPark.pointOfInterest}}
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary">Park Information</ion-label>
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding" class="ion-padding-start">
          {{centralPark.description}}
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary">What To Do</ion-label>
          <ion-icon name="accessibility-outline"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding" class="ion-padding-start"
          *ngFor="let activity of centralPark.activities; index as i">
          {{centralPark.activities[i]}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>