<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="metro" class="ion-no-padding">
      <ion-label>Metro</ion-label>
      <ion-icon name="bus"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="central" class="ion-no-padding">
      <ion-label>Central</ion-label>
      <ion-icon name="business"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="northeast" class="ion-no-padding">
      <ion-label>North E.</ion-label>
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="northwest" class="ion-no-padding">
      <ion-label>North W.</ion-label>
      <ion-icon name="bonfire-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="southeast" class="ion-no-padding">
      <ion-label>South E.</ion-label>
      <ion-icon name="boat-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="southwest" class="ion-no-padding">
      <ion-label>South W.</ion-label>
      <ion-icon name="flower-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>